html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #2c2141;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 624px;
  background: #f8f8f8;
  border-radius: 16px;
  padding: 32px;
  margin: 16px;
}

.person {
  display: flex;
  align-items: flex-start;
  margin: 0;
}

.person__description {
  line-height: 22px;
  font-size: 16px;
  margin: 0;
}

.person__description--with-margin {
  margin-bottom: 22px;
}

.person__info {
  margin-bottom: 24px;
}

.person__name {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.person__link {
  text-decoration: none;
  color: #e20613;
}

.person__position {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  color: #2b2b2b;
}

.person__picture {
  margin-right: 32px;
  background-size: 148px;
}
